.CartItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.5rem 0;

  .cart-item__img {
    flex: 0 0 80px;

    img {
      width: 100%;
    }
  }

  .cart-item__title-amount-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    padding: 0.5rem 0;
  }

  .cart-item__price-remove-wrapper {
    flex: 0 1 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    min-width: 3rem;
    max-width: 6rem;
    padding: 0.5rem 0;
  }

  .cart-item__title {
    text-transform: uppercase;
    flex: 0 1 18rem;
  }

  .cart-item__amount {
    grid-area: amount;
    display: flex;
    align-content: center;

    input {
      width: 2rem;
      text-align: center;
      margin: 0.3rem;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }
  }

  .cart-item__price {
    flex: 0 0 3rem;
  }

  .cart-item__price-apiece {
    font-size: 0.75rem;
    color: var(--darkGrey);

    &::before {
      content: "(";
    }

    &::after {
      content: ")";
    }
  }

  .cart-item__remove {
    flex: 0 0 3rem;
    align-self: start;
  }

  .hidden {
    visibility: hidden;
  }
}
