.SingleProductPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;

  & > * {
    flex: 1 1 350px;
    padding: 0.5rem 1rem;
  }

  .product-img {
    flex: 0 1 auto;

    img {
      max-width: 100%;
    }
  }

  .product-info {
    display: flex;
    flex-direction: column;
    max-width: 70ch;

    &__main {
      flex: 1;
    }

    &__title {
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    &__company,
    &__price {
      text-align: start;
      margin: 0.5rem 0;

      h3 {
        display: inline-block;
      }

      span {
        font-size: 1.1rem;
      }
    }

    &__description {
      text-align: justify;
      margin-top: 1rem;

      h3 {
        margin: 0.5rem 0;
      }

      p {
        text-indent: 1rem;
      }
    }

    &__footer {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;
    }
  }
}
