.Footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--darkGrey);
  color: var(--mainWhite);
  padding: 0.5rem;

  .social-media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;

    a {
      color: var(--mainWhite);
      font-size: 1.5rem;
      transition: var(--mainTransition);

      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}
