:root {
  --header-height: 3rem;
}

.Header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: var(--header-height);
  border: 1px solid red;

  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
