.ProductCard {
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-areas: "img img" "title price" "add-button add-button";
  padding: 1rem;
  background-color: #fff;
  background-clip: initial;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px 0px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  transition: var(--mainTransition);

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 7px 10px 5px 0px;

    .product-card__img-box img {
      transform: scale(1.02);
      transition: var(--mainTransition);
    }

    .product-card__add-button {
      opacity: 1;
    }
  }

  .product-card__img-box {
    grid-area: img;
  }

  .product-card__img-box img {
    width: 100%;
  }

  .product-title {
    grid-area: title;
    text-transform: uppercase;
    text-overflow: ellipsis;
    height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    color: initial;
  }

  .product-price {
    grid-area: price;
    justify-self: right;
    padding-left: 0.2rem;

    &::before {
      content: "$";
    }
  }

  .product-card__add-button {
    grid-area: add-button;
    justify-self: center;
    width: fit-content;
    opacity: 0.5;
    font-size: 0.8rem;

    & > * {
      margin: 0;
      margin-top: 0.3rem;
    }
  }
}
