.Footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: var(--darkGrey);
  color: var(--mainWhite);
  padding: 0.5rem;

  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem;

    a {
      color: var(--mainWhite);
      font-size: 1.5rem;
      margin: 0 1.5rem;
      transition: var(--mainTransition);

      &:hover {
        color: var(--primaryColor);
      }
    }
  }
}
